<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //CSS
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&amp;display=swap")
    
    title REST API in Vue JS with Axios
  body
    #app
      h1 Blog posts
      button.getBtn(@click="updated") Mettre à jour

      .blogPost(v-for="post in posts")
        h3.blogTitle {{ post.title | capitalize }}
        p.blogBody {{ post.body }}

    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="index.js")
